* { 
	box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Karla:wght@800&display=swap");

html, body {
	min-height: 100%;
	background: #1c1c1c;
	color: #fff;
    scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6 {
    font-family: "Karla", sans-serif;
}

header {
    margin:20px 45px;
}


.container {
    background-color: #1f2937;
    width: 75%;
    height: 100%;
    margin: 20px auto;
    padding: 20px 40px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    border-radius: 6px;
}

hr {
    background-color: #2f3e53;
    height: 1px;
    border: none;
    margin: 10px 0px;
}

.content {
    display:flex;
    justify-content: center;
    margin:25px;

}

.math {
    width:100%;
    display:block;
    margin: 0 auto;
    background-color:beige;
    padding:20px;
    color:#1c1c1c;
    text-align:center;
    border-radius: 6px;
    margin-top:25px;
    height:100%;
}

.math button a {
    text-decoration:none;
}

.math h2 {
    text-decoration: underline;
}

.math hr {
    background-color:rgb(187, 187, 169);
}

.saving {
    color:#0d9b6c;
}

form {
    display:block;
}

.form-input {
    width:50%;
    margin:0px 25px;
}

.form-input a{
    text-decoration: none;
    color:#fff;
  }

.form-input h2, .form-output h2 {
    margin-top: 0px;
}

.form-output {
    width:50%;
    margin:0px 25px;
}

label {
    margin-bottom:20px;
}

input {
    display:block;
    margin:20px 0px;
    height:50px;
    width:100%;
    padding:0px 20px;
    border-radius: 6px;
    font-size:22px;
}

ul li{
    margin-bottom:20px;
}

ul li a {
    color:#fff;
}

.btn-submit {
    font-size:18px;
    line-height: 24px;
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 17px 9px 15px;
    gap: 12px;
    width: 100%;
    height: 42px;
    background: #10b981;
    border-radius: 6px;
    border:none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-top:40px; 
  }

  .btn-submit:hover {
      background:#0d9b6c;
      border: 3px solid #fff;
  }

  .btn-submit:disabled {
    opacity: 0.3;
    cursor:default;
    pointer-events: none;
  }

  .btn-submit:disabled:hover {
    background:#0d9b6c;
    border: 0;
    cursor:default;
    
  }

  .btn-submit:disabled a {
    cursor:default;
  }

  input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}   

/* MEDIA QUERIES */
  @media only screen and (max-width: 768px) {
    .content {
        flex-wrap: wrap;
        margin:0;
        padding:0px;
        width:100%;
    }

    .container {
        padding:10px;
    }

    h1 {
        font-size:1.3em;
    }

    h2 {
        font-size:1em
    }

    label {
        font-size:.8em;
    }

    button {
        width:100%;
        font-size:14px;
    }

    .form-input, .form-output{
        width:100%;
        margin:5px;
    }
    header {
        margin:10px;
    }
    hr {
        margin:5px 0;
    }
    input {
        margin:20px 0px;
    }
    }
  