* { 
	box-sizing: border-box;
}

html, body {
	min-height: 100%;
	background: #1c1c1c;
	color: #fff;
}

.container {
    background-color: #1f2937;
    width: 75%;
    height: 550px;
    margin: 20px auto;
    padding: 20px 40px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
}

hr {
    background-color: #2f3e53;
    height: 1px;
    border: none;
    margin: 20px 0px;
}

.content {
    display:flex;
    justify-content: center;
    margin:25px;
}

form {
    display:block;
}

.form-input {
    width:50%;
    margin:25px;

}

.form-output {
    width:50%;
    margin:25px;
}

label {
    margin-bottom:20px;
}

input {
    display:block;
    margin-bottom:20px;
    height:50px;
    width:75%;
    padding:0px 20px;
}